body {
  font-family: "Anton", sans-serif;
}

/*------NAVBAR-------*/

.navbar {
  background: none;
  border-color: transparent;
  letter-spacing: 7px;
  color: transparent;
}

.navbar .navbar-collapse {
  text-align: right;
  border-top: 1px solid transparent;
  overflow-x: hidden;
}

/*--------jumbotron------*/

#first-section {
  background-attachment: fixed;
  background-image: url("../images/desk.jpg");
  background-position: bottom;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin-bottom: 0px;
  position: static;
}

.title {
  margin-top: 8%;
  margin-right: 15%;
  text-align: right;
  color: #f5fffa;
}

.title h1 {
  font-size: 3.5rem;
}

.title p {
  font-size: 2.25rem;
}

/*-------- General Section Style ---------*/

.section-space {
    padding-top: 3rem;
}

/*----About----*/

#about {
  background-color: black;
  width: 100%;
  height: 100%;
}

.about-text {
  height: 30%;
  float: left;
  background-color: transparent;
  margin: 0 auto;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  color: #f5fffa;
}

hr {
  border-top: 1px solid #777777;
  width: 100%;
}

.about-text h2 {
  text-transform: uppercase;
  text-align: left;
  color: #f5fffa;
}

.about-text p {
  margin-left: 20px;
}

/*--------Work Experience AND Education-------*/

.work-exp{
 margin-top: 50px;
  margin-bottom: 20px;
  color: #f5fffa;
}

.education{
    margin-top: 50px;
  margin-bottom: 20px;
  color: #f5fffa;
}


.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif; /*Check all the fonts*/
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #fafafa;
}

/*------Skills------*/

/* For this section a followed a tutorial about svg on youtube. I have adapted some of the styles to fit my project */

#skills {
  background-color: black;
  width: 100%;
  height: 100%;
  color: #fff5ee;
}

.skills-header {
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.skills-header h3 {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: left;
  font-size: 60px;
}

.container-skills {
  position: relative;
  width: 100%;
  justify-content: space-around;
}

.container-skills .card {
  position: relative;
  width: 200px;
  height: 300px;
  background: transparent;
  border: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
}

.percent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #000;
  background: #222;
  z-index: 1;
}

.percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.percent .number h2 {
  color: whitesmoke; /*check the color codes and improve them*/
  font-size: 40px;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.card:hover .percent .number h2 {
  font-size: 50px;
  color: white;
}

.percent .number h2 span {
  font-size: 20px;
  color: whitesmoke;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.card:hover .percent .number h2 span {
  color: white;
}

.skills-text {
  position: relative;
  margin-top: 20px;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1;
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.card:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #f0fff0;
}

.card:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 85) / 100);
  stroke: #f0fff0;
}

.card:nth-child(3) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 40) / 100);
  stroke: #f0fff0;
}

/*------------Projects-----*/

#projects {
  background-color: black;
  color: #fff5ee;
}

.project-header {
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.project-card{
    background:	#F5F5F5;
    border: 1px solid #777777;
    color:#777777;
    margin: 20px;
}


/*-----------Contact--------*/

#contact {
  background-color: black;
  color: #fff5ee;
  padding-bottom: 30px;
}


.contact-header {
    width: 100%;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.contact-details{
    padding-left: 50px;
}

.contact-details p {
    margin-bottom: 0;
}


.form-group{
    width: 75%;
}

.fa-mobile {
    font-size: 30px;
    margin-right: 3px;
}

/*-----Footer-----*/

footer{
    background-color: #f8f9fa;
    min-height: 100px;
    margin: 0;
}

.social-links{
    padding: 30px;
    text-align: center;
}

.social-links a i {
    width: 60px;
    height: 60px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 40px;
    text-align: center;
    color: #fafafa;
    background: black;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links a i:hover {
    background: #778899;
}


/*------Media-Queries------*/

@media screen and (max-width:767px){
    .work-exp {
        padding-left: 50px;
    }

    .education{
         padding-left: 50px;
    }

    .project-card{
        margin-left: 45px;
    }

    .contact-details{
        margin-bottom: 30px;
    }

    .contact-form{
        margin-left: 30px;
        margin-right: 30px;
    }

    .form-group{
        width: 100%;
    }
}