body {
    background-color: #fdfdfd;
    font-family: 'Anton', sans-serif;
}


/*------NAVBAR-------*/

.navbar {
    background: none;
    border-color: transparent;
    letter-spacing: 7px;
    color: transparent;
}

.navbar .navbar-collapse {
    text-align: right;
    border-top: 1px solid transparent;
    overflow-x: hidden;
}

/*--------jumbotron------*/


#first-section{
    background-attachment: fixed;
    background-image: url('../images/desk.jpg');
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0px;
}

.title{
margin-top: 8%;
margin-right: 15%;
text-align: right;
color:#F5FFFA;
}

.title h1{
    font-size: 4.5rem
}

.title p {
    font-size: 2.25rem
}

/*----About----*/

#about{
    background-attachment: fixed;
    background-image: url('../images/paper-pattern.jpg') no-repeat;
}

.about-text{
    height: 30%;
    float: left;
    background-color: transparent;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-text h2 {
    text-transform: uppercase;
    text-align: center;
    color:#708090;
}

.about-text p {
    margin-left: 20px;
}

.photo{
    height: 30%;
    float: right;
    background-color: transparent;
}

#photo-circle-border{
    width: 300px;
    height: 300px;
    padding: 30px;
    border-width: 0.5px;
    border-radius: 50%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    background: url('../images/ignacio.santana.jpg') no-repeat center center;
    z-index: 1;
}

/*------Skills------*/

#skills{
    background-attachment: fixed;
    background-image: url('../images/black-texture.jpg');
}
